  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  header {
      background-color: #FFFFFF;
      padding: 16px 0px;
  }

  nav {
      width: 85%;
      /* border: 1px solid red; */
      max-width: 1360px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .menu {
      display: flex;
      gap: 32px;
      list-style-type: none;
      align-items: center;
  }

  .menu a {
      text-decoration: none;
      color: #000000;
      font-size: 16px;
      font-weight: 500px;
  }

  .btn {
      background-color: #469165;
      border: none;
      border-radius: 4px;
      padding: 12.5px 16px;
      font-size: 16px;
      font-weight: 600px;
      color: #FFFFFF;
      /* margin: 0 30px 0 0; */
      cursor: pointer;
  }

  #banner {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("./assets/hero-bg.png");
      background-repeat: no-repeat;
      /* background-position: 23px 0px, bottom right; */
      background-size: contain, cover;
  }

  .banner-container {
      padding: 115px 120px 189px 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .banner-container h4 {
      background: #ffffff;
      color: #469165;
      padding: 8px 12px;
      border-radius: 999px;
      display: inline-flex;
      align-items: center;
      gap: 8px;
      font-size: 16px;
      font-weight: 500;
      /* margin: 0 auto; */
      margin-bottom: 16px;
  }

  .dot {
      width: 10px;
      height: 10px;
      background: #22c55e;
      border-radius: 50%;
  }

  .banner-container h1 {
      font-size: 72px;
      font-weight: 700;
      color: #FFFFFF;
      line-height: 84px;
      margin: 5px;
  }

  .banner-container .clr {
      color: #30B868;
      margin-bottom: 16px;
  }

  .banner-container p {
      font-size: 18px;
      line-height: 2px;
      color: #FFFFFF;
      margin: 32px;
      text-align: center;
      margin: bottom 32px;
      ;
  }

  .btn-grp {
      display: flex;
      gap: 16px;
      justify-content: center;
  }

  .btn img {
      width: 15px;
      height: 13px;
  }

  .btn1 {
      border-radius: 4px;
      padding: 12.5px 16px;
      font-size: 16px;
      font-weight: 600px;
      color: #FFFFFF;
      cursor: pointer;
      border: 1.5px solid rgba(255, 255, 255, 0.6);
      background: transparent;
  }