  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  header {
      background-color: #FFFFFF;
      padding: 16px 0px;
  }

  nav {
      width: 85%;
      /* border: 1px solid red; */
      max-width: 1360px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .menu {
      display: flex;
      gap: 32px;
      list-style-type: none;
      align-items: center;
  }

  .menu a {
      text-decoration: none;
      color: #000000;
      font-size: 16px;
      font-weight: 500px;
  }

  .btn {
      background-color: #469165;
      border: none;
      border-radius: 4px;
      padding: 12.5px 16px;
      font-size: 16px;
      font-weight: 600px;
      color: #FFFFFF;
      /* margin: 0 30px 0 0; */
      cursor: pointer;
  }